<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </configSections>
    <log4net>
        <appender name="ASPNetTraceAppender" type="log4net.Appender.ASPNetTraceAppender">
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
        <!-- DEBUG and higher events in the debugger use SysInternals dbgview.exe to display -->
        <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="DEBUG" />
                <param name="LevelMax" value="FATAL" />
            </filter>
        </appender>
        <root>
            <level value="DEBUG" />
            <!--<appender-ref ref="ASPNetTraceAppender" />-->
            <!--<appender-ref ref="EventLogAppender" />-->
            <appender-ref ref="OutputDebugStringAppender" />
        </root>
    </log4net>
    <connectionStrings>
        <add name="WXH" connectionString="Data Source=(local);Integrated Security=true;Initial Catalog=Test;Connect Timeout=10;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>